.navigation{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    height: 72px ;
  }
  nav ul{
    display: flex;
    gap: 24px;
    list-style: none;
    font-weight: 500;
  }